.footer {
    background-color: $color-background-alt;
    padding-top: 60px;
    padding-bottom: 60px;

    .footer__container {
         display: flex;
         align-items: baseline;
       
      @media (max-width: 767px) {
         text-align: center;
      }  
    }

    .footer__nav {
       @extend %list;
    }

    .footer__item:not(:last-child) {
       margin-bottom: 9px;
    }
}

.footer__location {
   color: $color-white;
   font-style: normal;
   font-weight: 400;
   line-height: 1.71;
   letter-spacing: 0.03em;
   text-decoration: none;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: $color-accent;
   }
}

.footer__link {
   font-weight: 400;
   font-style: normal;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: $color-accent;
   }
}

