.join-thumb {
    margin-left: 70px;

    .join-thumb__text {
        color: $color-white;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}



.soc-list__link.join {
    fill: $color-white;
    background-color: rgba(255, 255, 255, 0.1);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $color-accent;
    }
}

