.logo {
    display: flex;
    margin-right: 93px;
    font-family: $logo-font-stack;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-black;
    text-decoration: none;

    @media (max-width: 767px) {
        padding: 16px 0;
    }

    @media (min-width: $tablet) and (max-width: 1199px) {
        padding: 26px 0;
    }

    .logo__word1 {
       font-family: $logo-font-stack;
       color: $color-accent;
    }

    .logo__word2 {
       color: $color-white;
    }
}

.footer-logo {
    margin-bottom: 20px;
}