
$color-primary: #757575;
$color-background-alt: #2F303A;
$color-background: #F5F4FA;
$color-accent: #2196F3;
$color-white: #ffffff;
$color-title: #212121;
$color-link: #AFB1B8;
$color-button: #188ce8;
$color-black: #000000;
$header-border-color: #ECECEC;
$project-border-color: #EEEEEE;

$text-font-stack: 'Roboto', sans-serif;
$logo-font-stack: 'Raleway', sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;